# Database
POSTGRES_DB=zapisy_backend
POSTGRES_USER=postgres
POSTGRES_PASSWORD=happinessisawarmgun
POSTGRES_HOST=localhost

# Security
SECRET_KEY=your-secret-key-change-in-production
ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=15
SESSION_EXPIRE_HOURS=24

# Email Domains (comma separated)
ALLOWED_DOMAINS=@student.uken.krakow.pl,@uken.krakow.pl

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
# https://myaccount.google.com/apppasswords 
# generujesz tutaj app password(nie wpisuj swojego hasla do konta!)
SMTP_PASSWORD=tutajwklejaszte16znakowbezspacji
#gmail wymusza zeby from byl taki sam jak zalogowany
SMTP_FROM=your-email@gmail.com
# do testow(render) przeniesoono na resenda
RESEND_EMAIL_FROM=onboarding@resend.dev
RESEND_API_KEY=wklejtuapizresend

# Application
APP_NAME=IRSS
BACKEND_PORT=8000
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:80
DEBUG=True # True/False
DEFAULT_ADMIN_INVITE_TOKEN="jajco"
