@import url(./Constants.css);


#informations {
    width: calc(1000px - 5svw);
    /* display: grid; */
    flex: 1;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 5svw 0px 5svw 5svw;
    text-wrap: balance;
    line-height: 21px;
    user-select: none;

    cursor: grab;

    &>span {
        user-select: none;
    }

    &.dragging {
        cursor: grabbing;
        user-select: none;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: radial-gradient(circle,
                #805237,
                rgba(200, 98, 35, 0) 110%);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: radial-gradient(circle,
                #C86223,
                rgba(200, 98, 35, 0) 110%);
    }
}




#FAQ {
    position: absolute;
    justify-self: center;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
}

@media (max-width: 1100px) {
    #informations {
        margin-top: 80px;
        width: 90svw;
        padding: 5svw;
    }

    #FAQ {
        top: 0px;
    }

    #informations::-webkit-scrollbar {
        width: 12px;
    }
}