@import url(./Constants.css);


#informations {
    width: calc(1000px - 10svw);
    flex: 1;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 0px 5svw 5svw 5svw;
    text-wrap: wrap;
    line-height: 21px;
    user-select: text;

    &.dragging {
        cursor: grabbing;
        /* user-select: none; */
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: radial-gradient(circle,
                #805237,
                rgba(200, 98, 35, 0) 110%);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: radial-gradient(circle,
                #C86223,
                rgba(200, 98, 35, 0) 110%);
    }
}

/* ol {
    line: 10px;
} */
.main-list>li {
    margin-top: 28px;
}

.main-list>ol {
    margin-top: 10px;

    &>li {
        margin-top: 7px;
    }
}

.main-list>ul {
    margin-top: 10px;

    &>li {
        margin-top: 7px;
    }
}

.main-list>span {
    display: block;
    margin-left: 24px;
    margin-top: 12px;
}

h2 {
    margin-top: 40px;
}


#FAQ {
    position: relative;
    text-align: center;
    align-self: center;
    width: 100%;
    top: -10%;
}

@media (max-width: 1100px) {
    #FAQ {
        position: relative;
        height: 10vh;
        top: 0;
        transform: none;
        width: 90vw;
    }

    #informations {
        margin-top: 0;
        width: 90svw;
        padding: 5svw;
        height: 80vh;
    }

    #informations::-webkit-scrollbar {
        width: 9px;
    }

    ul,
    ol>ol {
        padding-inline-start: 20px;
    }

    .main-list>span {
        margin-left: 0px;
    }
}