@import url(./Constants.css);


body {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}


#informacjaCookies {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    text-align: center;
}

#podmien {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: #56CFF8;
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:hover {
        background: #418CD9;
        color: white;
        cursor: pointer;
    }

    &>button:active {
        transform: scale(1.05);
    }
}

#logowanie {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 70%;
    align-content: center;
    align-items: center;
    justify-items: center;
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s ease-in;
}

#logowanie.hide {
    opacity: 0;
    pointer-events: none;
}

#logowanie.show {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 1100px) {
    #logowanie>div {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

#email {
    position: static;
    display: grid;
    grid-template-rows: auto 1fr auto 0px;
    transition: all 0.5s ease;
    justify-items: center;
}

#mail {
    text-align: right;
}

#index {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    width: 425px;
    transition: all 0.5s ease;
    justify-content: space-evenly;
}

#index>input {
    position: relative;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    width: 25%;
    height: 23px;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: black;
    border: 1px solid black;
    background: rgb(208, 208, 208);
    transition: border .3s ease, background 0.3s ease;

    &:focus {
        outline: none;
        border-color: none;
    }

    &:hover {
        background: white;
        transition: background 0.3s;
    }

}


.dropdownWrapper {
    position: relative;
}

.dropdown {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    width: 210px;
    color: black;
    background: #56CFF8;
    border: 1px solid black;
    transition: background .3s ease, border .3s ease, color .3s ease;
    text-shadow: 1px 1px 2px #805237;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
}

.dropdownContent {
    display: none;
    right: 26%;
    position: fixed;
    background-color: #56CFF8;
    border-radius: 6px;
    border: solid 1px black;
    z-index: 4;
}

.dropdownContent>span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:first-child {
        border-bottom: solid 1px black;
    }

    &:hover {
        background: #418CD9;
        color: black;
        cursor: pointer;
    }
}

@media (max-width: 1100px) {
    #email {
        align-self: end;
        width: 90vw;
        top: 40vh;
    }

    .dropdown {
        width: 45vw;
        padding: 8px 2px;
    }

    .dropdownContent {
        right: 5vw;
    }

    #index {
        width: 85vw;
    }

}


.dropdownContent>span:hover {
    background-color: #418CD9;
}

.dropdownContent>span:hover:first-child {
    border-radius: 6px 6px 0 0;
}

.dropdownContent>span:hover:last-child {
    border-radius: 0 0 6px 6px;
}

.dropdownWrapper:hover .dropdownContent {
    display: block;
}

.dropdownWrapper:hover .dropdown {
    background: #418CD9;
    color: white;
    cursor: pointer;
}

#starostaPasswd {
    position: static;
    display: none;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

#passwd {
    text-align: right;
}

@media (max-width: 1100px) {
    #starostaPasswd {
        top: 45vh;
    }
}

.formGroup {
    position: relative;
    display: flex;
    width: 100%;
    z-index: 2;
}

.formGroup>span,
.formField {
    font-family: 'Courier New', Courier, monospace;

    white-space: nowrap;
    display: block;

    &:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    &:first-child {
        border-radius: 6px 0 0 6px;
    }

    &:last-child {
        border-radius: 0 6px 6px 0;
    }
}

.formField {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: black;
    border: 1px solid black;
    background: rgb(208, 208, 208);
    transition: border .3s ease, background 0.3s ease;

    &:focus {
        outline: none;
        border-color: none;
    }
}


.formField:hover {
    background: white;
    transition: background 0.3s;
}

.formGroup>span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: black;
    background: #56CFF8;
    border: 1px solid black;
    transition: background .3s ease, border .3s ease, color .3s ease;
    text-shadow: 1px 1px 2px #805237;

}


.formGroup>span:hover {
    background: #418CD9;
    color: white;
    cursor: pointer;
}

#wyslij {
    position: relative;
    display: grid;
    justify-items: center;
    gap: 15px;


    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: #56CFF8;
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:not(:disabled):active {
        transform: scale(1.05);
    }

    &>button:disabled {
        background-color: #696969;
        color: white;
        cursor: not-allowed;
    }

}

.checkboxWrap {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    cursor: pointer;
    user-select: none;
    background: linear-gradient(45deg, rgba(200, 98, 35, 0.5) 0%, rgba(128, 82, 55, 0.5) 100%);
    padding: 10px;
    border-radius: 6px;

    input {
        display: none;
    }
}

.customCheckbox {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid black;
    background: white;
    transition: background .3s ease, transform .15s ease;
    position: relative;
    flex-shrink: 0;
}

.checkboxWrap:not(:has(a:hover)):hover .customCheckbox {
    background: var(--SubstitueMainBlue);
}

.customCheckbox::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity .2s ease;
}

.checkboxWrap input:checked+.customCheckbox::after {
    opacity: 1;
}

.checkboxWrap:active .customCheckbox {
    transform: scale(1.15);
}

.checkboxWrap input:disabled+.customCheckbox {
    background: #696969;
    cursor: not-allowed;
}

.checkboxText {
    font-size: 14px;

    small {
        font-size: 12px;
        color: rgb(176, 176, 176);
    }

    a {
        color: var(--SubstitueMainBlue);
        transition: color 0.2s ease;
    }

    a:hover {
        color: var(--SubstituteSecondaryBlue);
    }
}


@media (max-width: 1100px) {
    #wyslij {
        align-self: start;
    }
}

#zalogujStarosta {
    font-size: 12px;
    cursor: pointer;
    background: linear-gradient(45deg, #805237 0%, #C86223 100%);
    padding: 10px;
    border-radius: 6px;
    transition: all 0.5s ease;
    text-align: center;
    align-content: center;
}

#zalogujStarosta:not(:disabled):hover {
    background: var(--SubstituteBlueGradient);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#zalogujStarosta:not(:disabled):active {
    transform: scale(0.98);
}


#prosbaKodu {
    display: grid;
    pointer-events: none;
    justify-items: center;
    align-items: center;
    position: absolute;
    color: white;

    height: 90%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px;
    z-index: 5;

    background: linear-gradient(45deg,
            rgba(65, 140, 217, 0.2) 0%,
            rgba(86, 207, 248, 0.2) 100%);

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#prosbaKodu.show {
    opacity: 1;
    pointer-events: all;
}

#prosbaKodu .success,
#prosbaKodu .error {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

#prosbaKodu .success {
    background: linear-gradient(45deg,
            rgba(15, 250, 132, 0.2) 0%,
            rgba(15, 250, 93, 0.2) 100%);
}

#prosbaKodu .error {
    background: linear-gradient(45deg,
            rgba(250, 15, 15, 0.2) 0%,
            rgba(250, 80, 80, 0.2) 100%);
}

#prosbaKodu span {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
}

@media (max-width: 1100px) {
    #prosbaKodu {
        &>span {
            position: relative;
            z-index: 2;
            text-align: center;
            width: 70vw;
            height: 50vh;
            align-content: center;
        }
    }

    .middle {
        height: 60svh;
    }
}

.pairLabelInput {
    display: grid;
    justify-items: center;
    align-items: center;

    &>input {
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        color: black;
        border: 1px solid black;
        background: rgb(208, 208, 208);
        transition: border .3s ease, background 0.3s ease;

        &:not(:disabled):focus {
            outline: none;
            border-color: none;
        }

        &:not(:disabled):hover {
            background: white;
            transition: background 0.3s;
        }

        &:disabled {
            background: #696969;
        }

    }
}


.pairLabelInput label {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}