#wybierzAkcje {
    width: 100%;
    height: 30%;
    display: grid;
    position: absolute;
    justify-items: center;

    z-index: 7;
    grid-template-rows: 1fr 3fr;

    transition: opacity 0.5s ease;
}

#wybierzAkcje.hide {
    opacity: 0;
    pointer-events: none;
}

#wybierzAkcje.show {
    opacity: 1;
    pointer-events: all;
}

#choiceButtons {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    gap: 20px;
    align-items: center;

    &>div {
        background: var(--PaddingLineGradient);
        height: 100%;
        width: var(--LineWidth);
    }

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 14px 18px;
        font-size: 20px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:not(:disabled):active {
        transform: scale(1.05);
    }

    &>button:disabled {
        background-color: #696969;
        color: white;
        cursor: not-allowed;
    }
}

@media (max-width: 1100px) {
    #wybierzAkcje {
        width: 80vw;
        align-self: center;
        gap: 20px;
    }

    #choiceButtons {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3px 1fr;

        &>div {
            height: var(--LineWidth);
            width: 100%;
        }
    }


}

/* Content sekcji środkowego panelu */

#gridLayout {
    opacity: 1;
    pointer-events: all;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 3fr 2fr 2fr;
    justify-items: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

#gridLayout.hide {
    opacity: 0;
    pointer-events: none;
}

.powrot {
    transition: opacity 0.5s ease;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:not(:disabled):active {
        transform: scale(1.05);
    }

    &>button:disabled {
        background-color: #696969;
        color: white;
        cursor: not-allowed;
    }
}

.powrot.hide {
    opacity: 0;
    pointer-events: none;
}

.powrot.show {
    opacity: 1;
    pointer-events: all;
}

#powrotMobile {
    display: none;
}

@media (max-width: 1100px) {
    #powrotMobile {
        display: block;
        justify-self: center;
        margin-top: -30px;
        margin-bottom: 20px;
    }

    #powrotDesktop {
        position: none;
    }
}

#powrotDesktop {
    position: fixed;
    right: 5%;
    top: 5%;
}

.logowanie {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:active {
        transform: scale(1.05);
    }
}

.informacjeDoGenerowania {
    display: flex;
    flex-direction: row;
}

.informacjeDoGenerowania input {
    margin: 0 10px;
}

.pairLabelInput {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;

    &>input {
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        color: black;
        border: 1px solid black;
        background: rgb(208, 208, 208);
        transition: border .3s ease, background 0.3s ease;

        &:not(:disabled):focus {
            outline: none;
            border-color: none;
        }

        &:not(:disabled):hover {
            background: white;
            transition: background 0.3s;
        }

        &:disabled {
            background: #696969;
        }

    }
}

.pairLabelInput label {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.pairLabelInputTime {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    user-select: none;

    &>label {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    &>input {
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        color: black;
        border: 1px solid black;
        background: rgb(208, 208, 208);
        transition: border .3s ease, background 0.3s ease;

        &:not(:disabled):focus {
            outline: none;
            border-color: none;
        }

        &:not(:disabled):hover {
            background: white;
            transition: background 0.3s;

            &~ :nth-child(3) {
                background: white;
                transition: background 0.3s;
            }
        }

        &:disabled {
            background: #696969;
        }

    }
}

.wrapper {
    position: relative;
    display: inline-block;

    &>input {
        width: 180px;
        height: 27px;
        padding: 5px 10px;
        font-family: 'Courier New', monospace;
        font-size: 14px;
        border-radius: 6px;
    }
}

.displayDate {
    position: absolute;

    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 27px;
    text-align: center;
    background: rgb(208, 208, 208);
    border-radius: 6px;
    color: black;
    pointer-events: auto;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

@media (max-width:1100px) {
    .pairLabelInputTime {
        &>:nth-child(3) {
            width: 190px;
            margin-left: -15px;
        }
    }
}

.numberInputSizing {
    width: 100px;
}

.dodatkoweInformacjeDoGenerowania {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    flex-direction: row;
    align-items: end;
    user-select: none;
}

.upperHalf,
.lowerHalf {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:not(:disabled):active {
        transform: scale(1.05);
    }

    &>button:disabled {
        background-color: #696969;
        color: white;
        cursor: not-allowed;
    }
}

.radioWrap {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;

    input {
        display: none;
    }
}

.customRadio {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid black;
    background: var(--SubstituteSecondaryBlue);
    transition: background .3s ease, transform .15s ease, box-shadow .3s ease;
    position: relative;
}

.radioWrap:hover .customRadio {
    background: var(--SubstitueMainBlue);
}

.customRadio::after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 50%;
    background: black;
    opacity: 0;
    transition: opacity .2s ease;
}

.radioWrap input:checked+.customRadio::after {
    opacity: 1;
}

.radioWrap:active .customRadio {
    transform: scale(1.15);
}


.radioWrap input:disabled+.customRadio {
    background: #696969;
    cursor: not-allowed;
}

.radioLabel {
    font-size: 14px;
}




.generujLink {
    display: grid;
    user-select: none;
    justify-items: center;


    &>button {
        border-radius: 6px;
        border: solid 1px black;
        width: 80%;
        padding: 8px 12px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:not(:disabled):active {
        transform: scale(1.05);
    }

    &>button:disabled {
        background-color: #696969;
        color: white;
        cursor: not-allowed;
    }
}

.generujLinkSpan {
    margin-top: 10px;
    justify-content: center;
    align-self: flex-start;
    font-style: italic;
    opacity: 0.6;
}

#wybierzCzas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    width: 70%;
}


@media (max-width: 1100px) {
    #gridLayout {
        grid-template-rows: 1fr 1fr 1fr 2fr 1fr 3fr 2fr 2fr;
        width: 100svw;

    }

    .informacje {
        top: -2vh;
        width: 70dvw;
        text-align: center;
        margin-bottom: 2vh;
        padding: 10px 0;
    }

    .logowanie {
        width: 80svw;
        text-align: center;
    }

    .informacjeDoGenerowania {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0px 20px 0px;
    }

    #wybierzCzas {
        grid-template-columns: auto;
    }

}

#infoGather {
    display: grid;
    pointer-events: none;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: absolute;
    color: white;

    height: 90%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px;
    z-index: 5;

    background: linear-gradient(45deg,
            rgba(65, 140, 217, 0.2) 0%,
            rgba(86, 207, 248, 0.2) 100%);

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#infoGather.show {
    opacity: 1;
    pointer-events: all;
}

#infoGather .success,
#infoGather .error {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

#infoGather .success {
    background: linear-gradient(45deg,
            rgba(15, 250, 132, 0.2) 0%,
            rgba(15, 250, 93, 0.2) 100%);
}

#infoGather .error {
    background: linear-gradient(45deg,
            rgba(250, 15, 15, 0.2) 0%,
            rgba(250, 80, 80, 0.2) 100%);
}

/* Style dla spanów w środku */
#infoGather span {
    position: relative;
    z-index: 2;
    text-align: center;
    justify-self: center;
    width: 80%;
    height: 20%;
}

#infoGather span:first-child {
    align-self: end;
    margin-bottom: 5%;
}

#infoGather span:last-child {
    align-self: flex-start;
    width: 70%;
    margin-top: 5%;
    display: none;
}

@media (max-width: 1100px) {
    #infoGather {
        height: 60vh;
    }
}

.formField {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    width: calc(100% - 16px * 2);
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: black;
    border: 1px solid black;
    background: rgb(208, 208, 208);
    transition: border .3s ease, background 0.3s ease;

    &:focus {
        outline: none;
        border-color: none;
    }

    &:hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: copy;
        transition: background 0.3s;
    }
}

#campaignsContainer {
    position: absolute;
    display: grid;
    width: calc(100% - 40px);
    height: 100%;
    gap: 20px;
    padding: 20px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: start;
    align-content: center;
    overflow-y: auto;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: radial-gradient(circle,
                #805237,
                rgba(200, 98, 35, 0) 110%);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: radial-gradient(circle,
                #C86223,
                rgba(200, 98, 35, 0) 110%);
    }
}

@media (max-width: 1100px) {
    #campaignsContainer {
        grid-template-columns: repeat(1, 1fr);
        align-content: baseline;

        &::-webkit-scrollbar {
            width: 12px;
        }
    }

    .grid-container.ovflowHidden {
        overflow: hidden;
    }
}

#aktywneKampanie {
    position: absolute;
    width: 100%;
    height: 100%;

    transition: opacity 0.5s ease;
}

#aktywneKampanie.hide {
    opacity: 0;
    pointer-events: none;
}

#aktywneKampanie.show {
    opacity: 1;
    pointer-events: all;
}

.campaignCard {
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
}

.campaignCard:hover {
    transform: translateY(-3px);
}

.campaignCard.active {
    background: var(--MainOrangeGradient);
}

.campaignCard.inactive {
    background: var(--SubstituteBlueGradient);
}

.campaignCard .cardFooter {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.campaignCard button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: white;
    cursor: pointer;
    justify-self: center;
}

.campaignCard button:hover {
    background-color: #222;
}