/* Content sekcji środkowego panelu */

#gridLayout {
    opacity: 1;
    pointer-events: all;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr 3fr 2fr 2fr;
    justify-items: center;
    align-items: center;
    transition: opacity 0.5s cubic-bezier(0.58, 0.00, 0.08, 1.00);
}

#gridLayout.hide {
    opacity: 0;
    pointer-events: none;
}

.logowanie {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:active {
        transform: scale(1.05);
    }
}

.informacjeDoGenerowania {
    display: flex;
    flex-direction: row;
}

.informacjeDoGenerowania input {
    margin: 0 10px;
}

.pairLabelInput {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;

    &>input {
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        color: black;
        border: 1px solid black;
        background: rgb(208, 208, 208);
        transition: border .3s ease, background 0.3s ease;

        &:not(:disabled):focus {
            outline: none;
            border-color: none;
        }

        &:not(:disabled):hover {
            background: white;
            transition: background 0.3s;
        }

        &:disabled {
            background: #696969;
        }

    }
}

.pairLabelInput label {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.pairLabelInputTime {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    user-select: none;

    &>label {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    &>:nth-child(3) {
        bottom: 7px;
        position: absolute;
        height: 27px;
        width: 180px;
        margin-left: -20px;
        user-select: none;
        pointer-events: none;
        align-content: center;
        color: black;
        background: rgb(208, 208, 208);

        transition: border .3s ease, background 0.3s ease;
    }

    &>input {
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        padding: 8px 16px;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        color: black;
        border: 1px solid black;
        background: rgb(208, 208, 208);
        transition: border .3s ease, background 0.3s ease;

        &:not(:disabled):focus {
            outline: none;
            border-color: none;
        }

        &:not(:disabled):hover {
            background: white;
            transition: background 0.3s;

            &~ :nth-child(3) {
                background: white;
                transition: background 0.3s;
            }
        }

        &:disabled {
            background: #696969;
        }

    }
}

@media (max-width:1100px) {
    .pairLabelInputTime {
        &>:nth-child(3) {
            width: 190px;
            margin-left: -15px;
        }
    }
}

.numberInputSizing {
    width: 100px;
}

.dodatkoweInformacjeDoGenerowania {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    flex-direction: row;
    align-items: end;
    user-select: none;
}

.upperHalf,
.lowerHalf {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:not(:disabled):active {
        transform: scale(1.05);
    }

    &>button:disabled {
        background-color: #696969;
        color: white;
        cursor: not-allowed;
    }
}



.generujLink {
    display: grid;
    user-select: none;
    justify-items: center;


    &>button {
        border-radius: 6px;
        border: solid 1px black;
        width: 80%;
        padding: 8px 12px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:not(:disabled):active {
        transform: scale(1.05);
    }

    &>button:disabled {
        background-color: #696969;
        color: white;
        cursor: not-allowed;
    }
}

.generujLinkSpan {
    margin-top: 10px;
    justify-content: center;
    align-self: flex-start;
    font-style: italic;
    opacity: 0.6;
}

#wybierzCzas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    width: 70%;
}


@media (max-width: 1100px) {
    #gridLayout {
        grid-template-rows: 1fr 1fr 2fr 1fr 2fr 3fr 2fr;
        width: 100svw;
        height: 120vh;
        margin-top: 25vh;
    }

    .informacje {
        top: -2vh;
        width: 70dvw;
        text-align: center;
        margin-bottom: 2vh;
        padding: 10px 0;
    }

    .logowanie {
        width: 80svw;
        text-align: center;
    }

    .informacjeDoGenerowania {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0px 20px 0px;
    }

    #wybierzCzas {
        grid-template-columns: auto;
    }

}

#infoGather {
    display: grid;
    pointer-events: none;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: absolute;
    color: white;

    height: 90%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 10px;
    z-index: 5;

    background: linear-gradient(45deg,
            rgba(65, 140, 217, 0.2) 0%,
            rgba(86, 207, 248, 0.2) 100%);

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#infoGather.show {
    opacity: 1;
    pointer-events: all;
}

#infoGather .success,
#infoGather .error {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

#infoGather .success {
    background: linear-gradient(45deg,
            rgba(15, 250, 132, 0.2) 0%,
            rgba(15, 250, 93, 0.2) 100%);
}

#infoGather .error {
    background: linear-gradient(45deg,
            rgba(250, 15, 15, 0.2) 0%,
            rgba(250, 80, 80, 0.2) 100%);
}

/* Style dla spanów w środku */
#infoGather span {
    position: relative;
    z-index: 2;
    text-align: center;
    justify-self: center;
    width: 80%;
    height: 20%;
}

#infoGather span:first-child {
    align-self: end;
    margin-bottom: 5%;
}

#infoGather span:last-child {
    align-self: flex-start;
    width: 70%;
    margin-top: 5%;
    display: none;
}

@media (max-width: 1100px) {
    #infoGather {
        height: 60vh;
    }
}

.formField {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    width: calc(100% - 16px * 2);
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: black;
    border: 1px solid black;
    background: rgb(208, 208, 208);
    transition: border .3s ease, background 0.3s ease;

    &:focus {
        outline: none;
        border-color: none;
    }

    &:hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: copy;
        transition: background 0.3s;
    }
}