@import url(./Constants.css);


#panelRejestracji {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s cubic-bezier(0.58, 0.00, 0.08, 1.00);

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}


@media (max-width: 1100px) {
    #panelRejestracji {
        grid-template-rows: 1fr 3fr 1fr;
    }

    .informacje {
        top: -2vh;
        width: 70dvw;
        text-align: center;
        margin-bottom: 2vh;
        padding: 10px 0;
    }

}


/* Responsywność logowania */
@media (max-width: 1100px) {
    .logowanie {
        top: 7vh;
        width: 85svh;
        height: 20svh;
        text-align: center;
        margin-bottom: 2vh;
    }
}

/* Wybór grupy */
.wyborGrup {
    width: 85%;
    height: 40%;
    /* padding-top: 10%; */
    font-size: 18px;
    justify-content: center;
    display: block;
    overflow: visible;
}

.wyboryGrupoweSpanMobile {
    display: none;
    user-select: none;
    justify-self: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.wyboruGrupoweSpanDesktop {
    display: flex;
    user-select: none;
    justify-self: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}


.wybor {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 10px;



    justify-content: center;

    margin-top: 3%;
    height: 60%;
    position: relative;

}

.wybor>span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    pointer-events: none;
}

#najbardziejSpan {
    left: 0%;
    top: -40px;
    background: linear-gradient(90deg, #0ffa23 0%, #00990d 100%);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

#najmniejSpan {
    left: 100%;
    top: -40px;
    background: linear-gradient(90deg, #fa0f0f 0%, #a10202 100%);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;

}

.wybor>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 0 10px;
    user-select: none;
}

.wyborGrupyLabolatoryjnej:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.bladLinku {
    width: 100%;
    text-align: center;
    justify-items: center;
}

@media (max-width: 1100px) {
    .wyborGrup {
        width: 30vw;
        height: calc(80svh - 30svh);
        max-height: calc(80svh - 30svh);
        /* overflow: hidden; */
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
        margin-top: 1vh;
        /* display: flex; */
        flex-direction: column;
        display: flex;
        overflow: visible;
    }

    /* tutaj są dwie opcje, albo dalej column i gap 0, 
    ale przy duzej ilosci elementow jest problemen
    albo row z gap 10px, i uzywanie wysokosci telefonu dla wygody wiekszej */

    .wybor {
        grid-auto-flow: row;
        height: 100%;
        width: 100%;
        overflow: visible;
    }

    .wybor>div {
        margin: 0px 0;

    }

    #najbardziejSpan {
        top: 0;
        left: -17vw;
        z-index: -1;
    }

    #najmniejSpan {
        bottom: 0;
        top: auto;
        left: -15vw;
        z-index: -1;
    }

    .wyboruGrupoweSpanDesktop {
        display: none;
    }

    .wyboryGrupoweSpanMobile {
        display: flex;
        bottom: 20px;
        position: relative;
    }

    .bladLinku {
        width: 80svw;
    }
}

/* Adnotacje RODO i FAQ */
/* Przycisk wysyłania wniosku */
.wyslijWniosek {
    width: 70%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

    &>button {
        border-radius: 6px;
        width: 200px;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        /* cursor: pointer; */
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }
}

#PanelStarostyMobile {
    width: 100%;
    display: none;

    &>button {
        width: 100%;
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        /* cursor: pointer; */
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }
}

@media (max-width: 1100px) {
    .wyslijWniosek {
        position: inherit;
        top: 75svh;
        width: 100svw;
    }

    #PanelStarostyMobile {
        display: inline;
    }
}

.wniosekBtn:not(:disabled):hover {
    background: var(--SubstituteBlueGradient);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Ten kolor był przypadkiem, zrobiony przez slider, dlatego zostawiam */
.wniosekBtn:disabled {
    background-color: #696969;
    color: white;
    cursor: not-allowed;
}

.wniosekBtn:not(:disabled):active {
    transform: scale(0.98);
}



/* Panel Starosty */
#PanelStarosty {
    position: fixed;
    right: 5%;
    top: 5%;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }
}

.adnotacje {
    width: 100%;
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.adnotacjeSpan {
    font-size: 16px;
    padding: 10px;
    border-radius: 6px;
    cursor: alias;
    background: linear-gradient(45deg, #805237 0%, #C86223 100%);
    transition: all 0.5s ease;
    text-align: center;
    align-content: center;

    /* background-clip: text; */
    /* color: transparent; */
}

.adnotacjeSpan:not(:disabled):hover {
    background: var(--SubstituteBlueGradient);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.adnotacjeSpan:not(:disabled):active {
    transform: scale(0.98);
}

#feedbackWyslania {
    transition: opacity 0.5s ease-in;
    display: grid;
    opacity: 0;
    pointer-events: none;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: absolute;

    width: 80%;
    height: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 5;

    color: white;

    background: linear-gradient(45deg,
            rgba(65, 140, 217, 0.2) 0%,
            rgba(86, 207, 248, 0.2) 100%);

    &>span {
        text-align: center;
        line-height: 50px;
    }

}

#feedbackWyslania.show {
    opacity: 1;
    pointer-events: all;
}

#feedbackWyslania.success {
    background: linear-gradient(45deg,
            rgba(15, 250, 132, 0.25) 0%,
            rgba(15, 250, 93, 0.25) 100%);
}

#feedbackWyslania .success,
#feedbackWyslania .error {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

#feedbackWyslania .error {
    background: linear-gradient(45deg,
            rgba(250, 15, 15, 0.25) 0%,
            rgba(250, 80, 80, 0.25) 100%);
}