@import url(./Constants.css);


/* Content sekcji środkowego panelu */
.informacje {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1100px) {
    .informacje {
        position: absolute;
        top: -2vh;
        width: 70dvw;
        text-align: center;
        margin-bottom: 2vh;
        padding: 10px 0;
    }

}

.logowanie {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }

    &>button:active {
        transform: scale(1.05);
    }
}

#setCookieBtn {
    position: inherit;
    left: 5%;
    top: 20%;
}

#removeCookieBtn {
    position: inherit;
    left: 5%;
    top: 65%;
}


/* Responsywność logowania */
@media (max-width: 1100px) {
    .logowanie {
        position: absolute;
        top: 7vh;
        width: 85%;
        height: 20vh;
        text-align: center;
        margin-bottom: 2vh;
    }
}

/* Wybór grupy */
.wyborGrup {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 85%;
    height: 20%;
    transform: translateX(-50%);
    font-size: 18px;
    justify-content: center;
    display: block;
    overflow: visible;
}

.wyboryGrupoweSpanMobile {
    display: none;
}

.wyboruGrupoweSpanDesktop {
    display: block;
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translateX(-50%);
    user-select: none;
}

.wyboryGrupoweSpanDesktop:first-child span {
    position: absolute;
    left: 0%;
}


.wybor {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 10px;

    justify-content: center;

    margin-top: 2%;
    height: 60%;
    position: relative;

}

.wybor>span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    pointer-events: none;
}

#najbardziejSpan {
    left: 0%;
    top: -40px;
}

#najmniejSpan {
    left: 100%;
    top: -40px;

}

.wybor>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 0 10px;
    user-select: none;
}

.wyborGrupyLabolatoryjnej:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.bladLinku {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    justify-items: center;
}

@media (max-width: 1100px) {
    .wyborGrup {
        position: absolute;
        top: 28vh;
        width: 30vw;
        height: calc(70vh - 30vh);
        max-height: calc(70vh - 30vh);
        /* overflow: hidden; */
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
        margin-top: 1vh;
        /* display: flex; */
        flex-direction: column;
        display: flex;
        overflow: visible;
    }

    /* tutaj są dwie opcje, albo dalej column i gap 0, 
    ale przy duzej ilosci elementow jest problemen
    albo row z gap 10px, i uzywanie wysokosci telefonu dla wygody wiekszej */

    .wybor {
        grid-auto-flow: row;
        height: 100%;
        width: 100%;
        overflow: visible;
    }

    .wybor>div {
        margin: 0px 0;

    }

    #najbardziejSpan {
        top: 0;
        left: -17vw;
        z-index: -1;
    }

    #najmniejSpan {
        bottom: 0;
        top: auto;
        left: -15vw;
        z-index: -1;
    }

    .wyboruGrupoweSpanDesktop {
        display: none;
    }

    .wyboryGrupoweSpanMobile {
        /* display: none; */
        display: block;
        left: 6vw;
        position: relative;
    }

    .bladLinku {
        width: 80svw;
    }
}



/* Adnotacje RODO i FAQ */
.adnotacje {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width: 1100px) {
    .adnotacje {
        position: absolute;
        top: 82vh;
        margin-bottom: 2vh;
    }
}

/* Przycisk wysyłania wniosku */
.wyslijWniosek {
    position: fixed;
    top: 67.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;

    &>button {
        border-radius: 6px;
        width: 40%;
        height: 60%;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        /* cursor: pointer; */
    }

    &>button:not(:disabled):hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }
}


@media (max-width: 1100px) {
    .wyslijWniosek {
        position: inherit;
        top: 75vh;
        margin-bottom: 2vh;
    }
}

.wniosekBtn:not(:disabled):hover {
    background: var(--SubstituteBlueGradient);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Ten kolor był przypadkiem, zrobiony przez slider, dlatego zostawiam */
.wniosekBtn:disabled {
    background-color: #696969;
    color: white;
    cursor: not-allowed;
}

.wniosekBtn:not(:disabled):active {
    transform: scale(0.98);
}



/* Panel Starosty */
#PanelStarosty {
    position: fixed;
    right: 5%;
    top: 5%;

    &>button {
        border-radius: 6px;
        border: solid 1px black;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 25px;
        background: var(--SubstituteSecondaryBlue);
        transition: background .3s ease, border .3s ease, color .3s ease;
        text-shadow: 1px 1px 2px #805237;
        cursor: pointer;
    }

    &>button:hover {
        background: var(--SubstitueMainBlue);
        color: white;
        cursor: pointer;
    }
}

.adnotacjeSpan {
    font-size: 16px;
    cursor: alias;
    background: linear-gradient(45deg, #805237 0%, #C86223 100%);
    background-clip: text;
    color: transparent;
}

#panelRejestracji {
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s cubic-bezier(0.58, 0.00, 0.08, 1.00);

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

#feedbackWyslania {
    transition: opacity 1s cubic-bezier(0.58, 0.00, 0.08, 1.00);
    display: grid;
    opacity: 0;
    pointer-events: none;
    justify-items: center;
    align-items: center;
    position: absolute;
    width: 80%;
    left: 50%;
    /* top: -150%; */
    transform: translateX(-50%);
    height: 90%;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(65, 140, 217, 0.2) 0%, rgba(86, 207, 248, 0.2) 100%);
    z-index: 5;

    &>span {
        text-align: center;
        line-height: 50px;
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}